*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
}

.container-flex{
  display: flex;
  border: 1px solid black;
}

.container{
  width: 80%;
  max-width: 1200px;
  min-height: 50px;
  margin: 20px auto;
  background-color: red;
}


/* header */
header{
  background-color: #bfe5ff;
}