*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
}

.container-flex{
  display: flex;
  border: 1px solid black;
}

.container{
  width: 80%;
  max-width: 1200px;
  min-height: 50px;
  margin: 20px auto;
  background-color: red;
}


/* header */
header{
  background-color: #bfe5ff;
}

header .menu-flex{
  justify-content: space-between;
  align-items: center;
  background-color: #d3a024;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 20px;
}

header nav ul li a{
  text-decoration: none;
  padding: 10px 20px;
}