*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
}

.container-flex{
  display: flex;
  border: 1px solid black;
}

.container{
  width: 80%;
  max-width: 1200px;
  min-height: 50px;
  margin: 20px auto;
}


/* header */
header{
  background-color: #bfe5ff;
}

header .menu-flex{
  justify-content: space-between;
  align-items: center;
  background-color: #d3a024;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 20px;
}

header nav ul li a{
  text-decoration: none;
  padding: 10px 20px;
}


/* main */
main .dati{
  min-height: 400px;
  background-color: #03038a;
  padding-top: 50px;
}

.dati .box-dati{
  min-height: 300px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #e980ea;
}

section .container{
  min-height: 400px;
  margin: 40px auto;
}

.main-flex div.img-side{
  flex-grow: 2;
  min-height: 400px;
  background-color: #208df8;
}

.main-flex div.content-side{
  flex-grow: 1;
  min-height: 400px;
  background-color: #fabdc8;
}

section:nth-child(odd){
  background-color: #cdcdcf;
}

.ready .container{
  background-color: #238925;
  height: 800px;
}


/* footer */
footer{
  padding: 20px;
  background-color: #25282d;
}

footer .footer-dati{
  padding-bottom: 20px;
  border-bottom: 2px solid #d1d2d3;
}

.footer-dati .dati{
  flex-grow: 2;
  height: 600px;
  background-color: #f08080;
}

.footer-dati .prodotto{
  flex-grow: 1;
  height: 600px;
  background-color: #21afa8;
}

.footer-dati .compagnia{
  flex-grow: 1;
  height: 600px;
  background-color: #21afa8;
}

.footer-dati .risorse{
  flex-grow: 1;
  height: 600px;
  background-color: #21afa8;
}

.footer-dati .norme{
  flex-grow: 1;
  height: 600px;
  background-color: #21afa8;
}